@page "/addinventory"

@*@attribute [Authorize]*@

@inject IAddInventoryUseCase AddInventoryUseCase
@inject NavigationManager NavigationManager

<h3>Add Inventory</h3>
<br/>
@if (inventory != null)
{
    <EditForm Model="inventory" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <lable for="name">Inventory Name</lable>
            <InputText id="name" @bind-Value="inventory.InventoryName" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <lable for="qty">Quantity</lable>
            <InputNumber id="qty" @bind-Value="inventory.Quantity" class="form-control"></InputNumber>
        </div>

        <div class="form-group">
            <lable for="price">Price</lable>
            <InputNumber id="price" @bind-Value="inventory.Price" class="form-control"></InputNumber>
        </div>

        <div class="form-group">
            <lable for="size">Size</lable>
            <InputText id="size" @bind-Value="inventory.Size" class="form-control"></InputText>
            <SfDropDownButton Context="@ButtonContent">
                <DropDownMenuItems>
                    <DropDownMenuItem Text="Letter"></DropDownMenuItem>
                    <DropDownMenuItem Text="Swatch"></DropDownMenuItem>
                    <DropDownMenuItem Text="14 x 17"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </div>
        
        <br/>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}

@code {
    private Inventory? inventory;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        inventory = new Inventory();
    }

    private async Task OnValidSubmit()
    {
        if (this.inventory != null)
        {
            await AddInventoryUseCase.ExecuteAsync(this.inventory);
            NavigationManager.NavigateTo("/inventories");
        }
    }

    public string ButtonContent = "Options";
}
