@page "/inventories"

@inject NavigationManager NavigationManager
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameCase

<h3>Inventory List</h3>
<br/>
<ViewInventoriesComponent 
    OnSearchInventories="OnSearchInventoires"
    DisplaySearchResult="true">
</ViewInventoriesComponent>
<br/>
@if (listInventories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th width="200px">Quantity</th>
                <th width="200px">Price</th>
                <th width="200px">Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inv in this.listInventories)
            {
                <InventoryItemComponent 
                    Inventory="inv"
                    OnInventoryDeleted="OnInventoryDeleted"
                ></InventoryItemComponent>
            }
        </tbody>
    </table>
}
<br/>
<button type="button" class="btn btn-primary" @onclick="AddInventory"> Add Inventory</button>

@code {
    private List<Inventory>? listInventories;

    protected override async Task OnInitializedAsync()
    {
        var invs = await ViewInventoriesByNameCase.ExcecuteAsync();
        this.listInventories = invs.ToList();

    }

    private void OnSearchInventoires(List<Inventory> inventories)
    {
        listInventories = inventories;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }

    private async Task OnInventoryDeleted()
    {
        await OnInitializedAsync();
    }

}
