@page "/"

<PageTitle>Dackor Inventory Management System</PageTitle>

<div style="display:block; width:75%; margin: 0 auto">
    <style>
        body {
            background-color:black;
        }
    </style>
    <br /><br /><br /><br />
    <h1 style="font-size: 60px">DACKOR INC.</h1>
    <br />
    <div style="width:600px; font-size: 30px; margin-left: 60px">
        Welcome to our NEW Inventory Management System!
    </div>
    <br /><br /><br /><br /><br /><br />
</div>